@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
  /* Colors */
  --grey-50: #fafafa;
  --grey-500: #9e9e9e;
  --grey-900: #212121;

  /* Fonts */
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;

  /* Layouts */
  --background: var(--grey-900);
  --link: var(--grey-500);
  --text: var(--grey-50);
  --trans-background: rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--raleway);
}

a:link, a:visited, a:active {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--text);
}

.hide {
  display: none !important;
}
