@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Dancing+Script');

* {
  /* Colors */
  --grey-50: #fafafa;
  --grey-500: #9e9e9e;
  --grey-700: #616161;
  --grey-900: #212121;

  /* Fonts */
  --dancing-script: 'Dancing Script', cursive;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;

  /* Layouts */
  --background: var(--grey-900);
  --link: var(--grey-500);
  --text: var(--grey-50);
  --trans-background: rgba(0, 0, 0, 0.3);
  --header-width: 75px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--roboto);
}

a:link, a:visited, a:active, a.disabled, .link {
  color: var(--link);
  text-decoration: none;
  transition: color 0.2s ease-in, opacity 0.2s ease-in;
}

a:hover, .link:hover {
  color: var(--text);
  cursor: pointer;
}

a.disabled, a.disabled:hover {
  align-items: center;
  color: var(--grey-700);
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
}

a.disabled .coming-soon {
  color: white;
  font-size: 12px;
  opacity: 0.6;
}
