/* Core Layout */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* Main Container */
.main-container {
  /*flex-shrink: 0;*/
  height: 100vh;
  overflow: hidden;
  transform: initial;
  transform-origin: initial;
  width: 100vw;
}

.main-container--scrollable {
  box-sizing: initial;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
  width: 100%;
}

.main-container--reoriented {
  box-sizing: border-box;
  transform: none;
  transform-origin: initial;
  white-space: nowrap;
}

#content-container {
  display: flex;
  flex-flow: column nowrap;
  max-height: initial;
}

/* Image Container */
.image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid white;
  height: 62vw;
  width: 100vw;
  opacity: 0.4;
  transition: opacity 0.2s ease-in;
}

.image-container:hover {
  cursor: pointer;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .main-container {
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
  }

  .main-container--reoriented {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  #content-container {
    flex-flow: column wrap;
    max-height: 100vh;
  }

  .image-container {
    height: 33.3vh;
    width: 54vh;
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .image-container {
    height: 25vh;
    width: 40vh;
  }
}
